<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Inter Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">
    
    <!-- CSS Link-->
    <link rel="stylesheet" type = "text/css" href="chart-of-accounts.component.css">

    <!-- Icon Link -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    
    
    <title>BKHI Loaction Setup</title>
    
</head>
<body class = "bg-transparent">
  <div class="container-fluid ">
      <h2>Chart of Accounts</h2>
        
      <div class="position">
        <!-- ------------------------------Header--------------------------------- -->
        <div class="header row">3
          <ul class="nav nav-pills col-9" id="pills-tab" role="tablist">
            <li (click)="chartAccountsOnClick()" class="nav-tab" role="presentation">
              <button class="nav-link" data-toggle="tab" href="#late-policy" type="button" role="tab" aria-controls="location-setup" aria-selected="true">Records Shown</button>
            </li>
            <li class="nav-item">
              <a><i class="headerIcons far fa-sync"></i></a>         
            </li>
            <li class="nav-item" type = "button" data-bs-toggle="modal" data-bs-target="#addition">
              <a (click)="addOnClick()"><i class="headerIcons far fa-plus-square"></i></a>
            </li>
            <li class="nav-item">
              <a><i class="headerIcons far fa-edit"></i></a>
            </li>
            <li class="nav-item">
              <a><i class="headerIcons far fa-trash-alt"></i></a>
            </li>
            <li class="nav-item" type = "button" data-bs-toggle = "modal" data-bs-target = "#saveModal">
              <a><i id="saveBtn" class="headerIcons far fa-save"></i></a>
            </li>
            <li class="nav-item" type = "button" data-bs-toggle = "modal" data-bs-target = "#deleteModal">
              <a><i id="cancelBtn" class="headerIcons far fa-window-close"></i></a>
            </li>
          </ul>
            <!-----------------------------SEARCHBAR----------------------------------------------->
            <div class="formHeaderDiv col-3">
              <form class="d-flex">
                <input class="searchFormHeader form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><a><i class="fas fa-search"></i></a></button>
              </form>
            </div>
  
            <!--------------------------------MODAL FOR SAVE AND CANCEL--------------------->
            <div class="modal" id="saveModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">BKHI Payroll System</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body d-flex justify-content-center">
                    <a href=""><i class="fas fa-info-circle"></i></a>
                    <p>Location Setup(s) successfully added.</p>
                  </div>
                  <div class="modal-footer">
                    <button (click)="saveCancelOnClick()" class="btn-primary" type="button" data-bs-dismiss="modal">OK</button>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="modal" id="deleteModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">BKHI Payroll System</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body d-flex justify-content-center">
                    <a href=""><i class="fas fa-info-circle"></i></a>
                    <p>Are you sure you want to delete?</p>
                  </div>
                  <div class="modal-footer d-flex justify-content-around">
                    <button (click)="saveCancelOnClick()" class="btn-primary" type="button" data-bs-dismiss="modal">Yes</button>
                    <button class="btn-danger" type="button" data-bs-dismiss="modal">No</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- -------------MODAL END---------------->

            
              <!-------------------------MODAL FOR ADD ICON------------------------------>
            <div class = "modal" tabindex="-1" id = "addition" role = "application" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class = "modal-dialog modal-fullscreen">
                <div class = "modal-content">
                  <div class = "modal-header bg-secondary" style="background-image: url(BACKGROUND.jpg); background: cover;">
                    <h2 class = "modal-title">Account - Add - Pay Item</h2>
                  </div>

                  <div class = "modal-body bg-secondary" style="background-image: url(BACKGROUND.jpg); background: cover;">
                    <div class = "inputs">
                      <form class = "d-flex">
                        <label for="accountNumber">Account Number</label>
                        <input class = "accountNumberInput form-control me-2" type="text" placeholder="">
                      </form>
                      <form class = "d-flex">
                        <label for="Description">Description</label>
                        <input class = "descriptionInput form-control me-2" type="text" placeholder="">
                      </form>
                    </div>

                    <div class = "searchDiv col-3">
                      <form class = "d-flex">
                        <input class = "searchFormDiv form-control me-2" type = "search" placeholder="Search">
                        <button class = "btn btn-outline-success" type = "submit"><a><i class = "fas fa-search"></i></a></button>
                      </form>
                    </div>

                    <div class = "tabs mt-4">
                      <ul class = "nav nav-tab" id = "chartAccountsTabs" role = "tablist">
                        <li class = "nav-item">
                          <a class = "nav-link active" id = "payItemsHome-tab" href = "#pay-item" data-bs-toggle="tab" data-bs-target="#pay-item" type="button" role="tab" aria-controls="pay-item" aria-selected="true">Pay Item</a>
                        </li>
                        <li class = "nav-item">
                          <a class = "nav-link" id = "position-tab" href="#position" data-bs-toggle="tab" data-bs-target="#position" type="button" role = "tab" aria-controls="position" aria-selected="false">Position</a>
                        </li>
                        <li class = "nav-item">
                          <a class = "nav-link" id = "location-tab" href="#location" data-bs-toggle="tab" data-bs-target="#location" type="button" role="tab" aria-controls="location" aria-selected="false">Location</a>
                        </li>
                      </ul>

                      <!-------------------TAB CONTENTS FOR ADD ICONS-------------------------------------------------------->
                      <div class = "tab-content mt-3">
                        <div class = "tab-pane show active" id = "pay-item">
                          <div class = "card bg-secondary w-100 mx-auto">
                            <div class = "card-body">
                              <div class = "tablePayDiv table-responsive table-wrapper-scroll-y">
                                <table class = "table table-striped table-dark table-hover text-center mx-auto">
                                  <thead>
                                    <tr>
                                      <th><input type="checkbox" name = "checked" value = "selected"></th>
                                      <th>Description</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th><input type="checkbox" value="selected"></th>
                                      <th></th>
                                    </tr>
                                    <tr>
                                      <th><input type="checkbox" value="selected"></th>
                                      <th></th>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class = "tab-pane" id = "position">
                          <div class = "card bg-secondary w-100 mx-auto">
                            
                              <div class = "tablePositionDiv card-body table-responsive table-wrapper-scroll-y">
                                <table class = "table table-striped table-dark table-hover text-center mx-auto">
                                  <thead>
                                    <tr>
                                      <th><input type="checkbox" name = "checked" value = "selected"></th>
                                      <th>Description</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th><input type="checkbox" value="selected"></th>
                                      <th></th>
                                    </tr>
                                    <tr>
                                      <th><input type="checkbox" value="selected"></th>
                                      <th></th>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                           
                          </div>
                        </div>
                        <div class = "tab-pane" id = "location">
                          <div class = "card bg-secondary w-100 mx-auto">
                            
                              <div class = "tablePayDiv card-body table-responsive table-wrapper-scroll-y">
                                <table class = "table table-striped table-dark table-hover text-center mx-auto">
                                  <thead>
                                    <tr>
                                      <th><input type="checkbox" name = "checked" value = "selected"></th>
                                      <th>Description</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th><input type="checkbox" value="selected"></th>
                                      <th></th>
                                    </tr>
                                    <tr>
                                      <th><input type="checkbox" value="selected"></th>
                                      <th></th>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class = "modal-footer bg-secondary d-flex justify-content-center" style="background-image: url(BACKGROUND.jpg);">
                    <button class = "btn-primary" type = "button" data-bs-toggle="modal" data-bs-target="#successAdd"><i class = "far fa-save">Save</i></button>
                  </div>
                </div>
              </div>
            </div>

            <div class = "modal" id = "successAdd">
              <div class = "modal-dialog">
                <div class = "modal-content">
                  <div class = "modal-body bg-secondaryd-flex justify-content-center">
                    <a href=""><i class="fas fa-info-circle"></i></a>
                    <p>Added Successfully.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
        <!-- ------------------------------Code Table--------------------------------- -->
        <div class="tab-content" id="pills-tabContent">
  
          <div class="row">
            <div class="latePolicyCodeContents tab-pane mx-2" id="late-policy-code" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class = "card bg-secondary w-100 mx-auto">
                <div class = "card-body">
                  <div class="tableDiv table-responsive table-wrapper-scroll-y">
                    <table class="table table-striped table-dark table-hover text-center mx-auto">
                      <thead>
                        <tr>
                          <th scope="col">Account Number</th>
                          <th scope="col">Description</th>
                          <th scope="col">Status</th>
                          <th scope="col">Normal Entry</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope = "row">10011000</th>
                          <th scope = "row">Direct Labor - Hourly Health and Welfare</th>
                          <th scope = "row">Active</th>
                          <th scope = "row">Credit</th>
                      </tr>
                        <tr>
                          <th scope = "row">A</th>
                          <th scope = "row">A</th>
                          <th scope = "row">A</th>
                          <th scope = "row">A</th>
                      </tr>
                      <tr>
                          <th scope = "row">A</th>
                          <th scope = "row">A</th>
                          <th scope = "row">A</th>
                          <th scope = "row">A</th>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>


                
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>